body {
    color: white;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Hubble_ultra_deep_field.jpg/1200px-Hubble_ultra_deep_field.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
}

/* 
Challenge:
Add the underline to the title using a <span> and a class.
*/

.underline {
    border-bottom: 4px solid white;
}